<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.trafficservices">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.javapapers.android.googleplacesdetail.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission
        android:name="com.example.lenovo.mapsapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.lenovo.mapsapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permissions.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="Start map" />
        <activity android:name=".GLogin" />
        <activity
            android:name=".MapDirections"
            android:label="Nearest Places" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile" />
        <activity
            android:name=".MapDirection"
            android:label="Drive to destination">
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="Your_API" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".BaseActivity" />
        <activity
            android:name=".RecyclerViewCarOwner"
            android:label="Car Owner" />
        <activity
            android:name=".RecyclerViewTravellers"
            android:label="Travelers" />
        <activity
            android:name=".MainActivity"
            android:label="Sign Up" />
        <activity android:name=".Makecall" />
        <activity
            android:name=".ChatActivity"
            android:label="Chat" />
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".CarProfile"
            android:label="Car profile" />
        <activity
            android:name=".MessagesPopupActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->

        <activity
            android:name=".TravelActivity"
            android:label="Publish Advertisement" />

        <service android:name=".LocationService" />
        <service android:name=".MyFirebaseMessagingService" />

        <activity
            android:name=".kidnap"
            android:label="Kidnap" />
        <activity
            android:name=".DisplayAdsActivity"
            android:label="Display Advertisement" />
        <activity
            android:name=".AdsPublishAndDisplay"
            android:label="Travel" />
        <activity
            android:name=".feedback"
            android:label="Feedback" />
        <activity android:name=".Chat" />
        <activity android:name=".DisplayNotification">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
